.rating{
  position: relative;
  width: 196px;
  height: 36px;
  top: 0px;
  left: 0px;
}

.starActive {
  border: 3px solid rgb(221, 0, 255);
  width: 36px;
  height: 36px;
}

.starInactive{
  border: 3px solid rgb(221, 0, 255);
  color: #e3e3e3;
  width: 36px;
  height: 36px;
}

.starActive,
.starInactive {
  @media screen and (max-width: 768px) {
    height: 18px;
  }
}
