.logement-gallery {
  width: 1234px;
  /* height: 2750px; */
  background: #f6f6f6;
  border: 3px solid #f6f6f6;
  min-height: 50vh;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 3em 0em 3em 0em;
  padding: 2.7em 0em 2.7em 0em;
  gap: 3em 0em;
  position: relative;
  left: 100px;

 
  }

  

  @media screen and (max-width: 768px) {
    .logement-gallery{
    position: relative;
    left: -220px;
    top: 50px;
    width: 340px;
    height: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 1rem;
    margin-top: 1rem;
    background-color: inherit; /* Suppression de la couleur d'arrière-plan */
    > * {
      /* Sélectionne tous les enfants directs */
      width: 100%; /* Largeur de l'élément enfant */
    }
  }
}