.banner {
  width: 1240;
  height: 223;
  top: 163px;
  left: 100px;
  border-width: 1px;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.h1 {
  width: 733;
  height: 68;
  top: 241px;
  left: 373px;
  border-width: 1px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 68.45px;
  letter-spacing: 0%;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.imgBanner {
  width: 1240;
  height: 223;
  top: 163px;
  left: 100px;
  opacity: 0.6;
  border-radius: 25px;
  mix-blend-mode: Darken;
  background: #000000;
}
.banner_background {
  width: 1240;
  height: 223;
  opacity: 0.3;
  top: 146px;
  left: 100px;
  border-radius: 25px;
  mix-blend-mode: Darken;
  background: #000000;
}

