.home-container {
  position: relative;
  width: clamp(375px, 70vw, 1440px);
  transition: width 0.5s ease-in-out;
  left: 0px;
  gap: 50px;
  background: #ffffff;
  height: 3170px;
}

.main-content {
  border: 3px solid red;
  margin: 0 auto;
  width: clamp(375px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  margin-bottom: 1.25rem;
  min-height: 60vh;
  height: 1095;
  border-width: 1px;
  border: 1px solid #000000;
  
}

@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 100%;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

}
