.home-container {
  position: relative;
  width: 1440px;
  /* border-radius: 25px; */
  left: 0px;
  gap: 50px;
  background: #ffffff;
  height: 3170px;
}

.main-content {
  border: 3px solid red;
  margin: 0 auto;
  max-width: 1240px;
  margin-bottom: 1.25rem;
  min-height: 60vh;
  height: 1095;
  border-width: 1px;
  border: 1px solid #000000;
  
}

@media screen and (max-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 8350.88px;
    top: 50px;
    left: 0px;
    padding-top: 25px;
    gap: 27px;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 938px;
    gap: 22px;
  }
}
