.bannerAbout {
  width: clamp(335px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  height: 223px;
  top: 0px;
  left: 110px;
  position: relative;
  border-width: 1px;
  border-radius: 25px;
}
.h1 {
  width: 225px;
  height: 48px;
  top: 31px;
  left: 16px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0%;
  background: #ffffff;
}
.imgBannerAbout {
  width: clamp(335px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  height: 223px;
  top: 0px;
  left: 0px;
  position: relative;
  opacity: 30;
  border-radius: 25px;
  border-width: 1px;
  mix-blend-mode: Darken;
  background: #000000;
}
.banner_background {
  width: clamp(335px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  height: 223px;
  position: relative;
  opacity: 0.3;
  top: -230px;
  left: 0px;
  border-radius: 25px;
  mix-blend-mode: Darken;
  background: #000000;
}
@media screen and (max-width: 768px){
  .bannerAbout {
    width: 335px;
    height: 111px;
    top:0px;
    left: 0px;
    position: relative;
    border-width: 1px;
    border-radius: 25px;
  }

  .imgBannerAbout {
    width: 335px;
    height: 111px;
    top: 0px;
    left: 0px;
    position: relative;
    opacity: 30;
    border-radius: 25px;
    border-width: 1px;
    mix-blend-mode: Darken;
    background: #000000;
  }
  .banner_background {
    display: none;
  }


}
