.about {
  width: clamp(374px, 70vw, 1440px);
  transition: width 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  flex: 1;
  background: white;
  .collapse {
    width: 100%;
  }
}
.valeurs {
  position: relative;
  width: clamp(335px, 65vw, 1023px);
  transition: width 0.5s ease-in-out;
  top: 30px;
  left: 220px;
  gap: 0px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .about{
  display: flex;
  flex-direction: column;
  width: 375px;
  top: -25px;
  left: 20px;
  flex-wrap: nowrap;
  align-content: center;
  }
  .valeurs {
    position: relative;
    width: 335px;
    left: 0px;
    top: 15px;
    padding-bottom: 0px;
    gap: 15px;
  }
  
} 
