.about {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  flex: 1;
  width: 1440px;
  background: white;
  .collapse {
    width: 100%;
  }
}
.valeurs {
  position: relative;
  width: 1023px;
  top: 45px;
  left: 220px;
  gap: 25px;
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
