.logement {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: clamp(375px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  margin: 0 auto;
  position: relative;
  left: 0px;
  margin-top: 0px;
}
.logement__description {
  position: relative;
  left: 0px;
  width: clamp(335px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.logement__description__top {
  display: flex;
  justify-content: space-between;
}
.logement__description__top--info h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #ff6060;
  width: 100%;
  top: -20px;
  left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 143%;
  vertical-align: bottom;
  font-weight: 500;
  
}
.logement__description__top--info h2 {
  position: relative;
  height: 26px;
  top: 50px;
  left: 0px;
  font-weight: 400;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-size: 18px;
}
.logement__description__top--block-tags {
  position: relative;
  top: -60px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.logement__description__top--host-block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  padding-top: 2em;
}
.logement__description__top--host-block--host {
    display: flex;
    position: relative;
    top: -25px;
}
.rating{
  position: relative;
  top: -30px;
}
.logement__description__top--host-block--host img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
h3 {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 142.6%;
  margin-right: 10px;
}

.logement__description--bottom {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 1240px;
  top: -10px;
  gap: 76px;
}
@media screen and (max-width: 768px) {
  .logement {
    display: flex;
    width: 375px;
    top: -40px;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    left: 0px;
  }
  .logement__description {
    position: relative;
    left: 0px;
    width: 335px;
    display: flex;
    flex-direction: column;
    top: 15px;
  }
  .logement__description__top {
    flex-direction: column;
  }
  .logement__description__top--block-tags {
   
    position: relative;
    top: -50px;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    
  }
  .logement__description__top--host-block {
    position: relative;
    top: 65px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .logement__description__top--host-block--host {
    display: flex;
  }
  .rating img {
    width: 18px;
    height: 18px;
  }  
  .logement__description__top--info h1  {
    font-size: 18px;
  }
  .logement__description__top--info h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 10px;
  }
  .tags{
    width: 85px;
    height: 18px;
    font-size: 10px;
    padding: 6px 10px;
    align-items: center;
  }
  .logement__description--bottom {
    width: 335px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding: 10px 0;
    margin-top: 0;
    top: 20px;
  }
}
