.logement__carousel {
  position: relative;
  width: 1240px;
  height: 415px;
  top: 0px;
  left: 0px;
  border-radius: 25px;
}
.logement__carousel--slider {
  position: relative;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  top: 0px;
  left: 0px;
}
.logement__carousel__arrowright {
  position: relative;
  width: 96px;
  height: 119.63px;
  top: -260px;
  left: 1048px;
  
}
.logement__carousel__arrowleft {
  position: relative;
  width: 96px;
  height: 119.63px;
  top: -260px;
  left: 0px;
}
.logement__carousel__slide-indicator {
  position: relative;
  width: 24px;
  height: 32.4px;
  top: -165px;
  left: 607px;
  color: #ffffff;
}
