.ErrorPage {
  display: flex;
  flex-direction: column;
  width: clamp(335px, 70vw, 1240px);
  transition: width 0.5s ease-in-out;
  height: 700px;
  top: 2193px;
  left: -543px;
  padding-top: 40px;
  gap: 139px;
  background: #ffffff;
}

.img404 {
  position: relative;
  left: 360px;
  top: 0px;
  width: clamp(198px, 30vw, 597px);
  transition: width 0.5s ease-in-out;
  height: 263px;
}

.ErrorPage-h1 {
  position: relative;
  left: 270px;
  width: 785px;
  height: 51px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 143%;
  vertical-align: bottom;
  color: #ff6060;
}

.ErrorPage-a {
  position: relative;
  left: 490px;
  top: 135px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 143%;
  letter-spacing: 0%;
  vertical-align: bottom;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
}
@media screen and (max-width: 768px) {
  .ErrorPage {
    position: relative;
    top: 0px;
    left: 20px;
    width: 335px;
    height: 500px;
  }

  .img404 {
    width: 198px;
    height: 103px;
    position: relative;
    left: 25px;
  }
  .ErrorPage-h1 {
    width: 260px;
    height: 52px;
    font-size: 18px;
    position: relative;
    left: 25px;
    font-size: 18px;
  }
  .ErrorPage-a {
    font-size: 14px;
    position: relative;
    left: 45px;
  }
}
