.banner {
  position: relative;
  width: 1240px;
  height: 223px;
  top: 15px;
  left: 0px;
  opacity: 100%;
  border-radius: 25px;
  /* mix-blend-mode: Darken;
  background: #000000; */

  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px 0px #00000040; 
  /* width: 1240;
  height: 223;
  top: 163px;
  left: 100px;
  opacity: 60%;
  border-radius: 25px;
  mix-blend-mode: Darken;
  background:#000000ab;
  box-shadow: 0px 4px 4px 0px #F6F6F6;*/
} 
.h1 {
   width: 733px;
  height: 68px; 
  position: absolute;
  top: 49px;
  left: 280px;
  border-width: 1px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 48px;
  line-height: 68.45px;
  letter-spacing: 0%;
  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.imgBanner {
  position: relative;
  width: 1272px;
  height: 223px;
  top: 0px;
  left: 0px;
   /* opacity: 30; 
  border: 1px solid #000000; 
  border-radius: 25px;
  mix-blend-mode:darken;
  background: #0000;
  box-shadow: 0px 4px 4px 0px #F6F6F6; */
}
.banner_background {
  width: 1272px;
  height: 223px;
  opacity: 60%;
  top: 146px;
  left: 100px;
  border-radius: 25px;
  mix-blend-mode: Darken; 
  background: #000000;
  box-shadow: 0px 4px 4px 0px #00000040;
  color: #F6F6F6;

 } 


